// Colours
$primary-colour: #ff7474;
$dark-colour: #df6565;
$light-colour: #f8a4a4;
$danger-colour: #c70000;
$success-colour: #b5f8a4;

// Fonts no need to put font name in quotes
$main-font: Muli, sans-serif;