.footer-section {
  clear: both;
  margin-top: 100px;
  height: 200px;
  width: 100%;
  background: $primary-colour;
  bottom: 0;
  color: rgb(250, 226, 226);
  text-decoration: none;
  clear: both;
  // position: absolute;
  position: relative;
  .footer-container {
  display: flex;
  }
  ul {
    li {
      // display: inline-block;
      a {
      color: rgb(250, 226, 226);
      padding: 0 0.35rem 0 0;
      // margin: 0 0.5rem;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}