.footer-section {
  clear: both;
  // margin-top: -100px;
  // height: 200px;
  width: 100%;
  padding: 100px 350px;
  background: $primary-colour;
  bottom: 0;
  color: rgb(250, 226, 226);
  text-decoration: none;
  clear: both;
  // position: absolute;
  position: relative;
  .footer-container {
  display: flex;
  line-height: 1.8rem;
  p {
    text-align: end;
  }
  }
  ul {
    padding: 0;
    li {
      // display: inline-block;
      a {
      color: rgb(250, 226, 226);
      // padding: 0 0.35rem 0 0;
      // margin: 0 0.5rem;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

// Containers
.about-us-container {
  width: 50%;
}

.contact-us-container {
  width: 50%;
}

.social-container {
  width: 50%;
  a {
    text-decoration: none;
  }
}

.copyright-container {
  display: flex;
  align-items: end;
  width: 30%;
}